.preguntas h2
{
    text-align: center;
    font-size: 35px;
}
.question
{
    margin: 20px 0 0 0;
    font-weight: bold;
    font-size: 24px;
    transition: all 0.3s ease;
}
.question:hover
{
    color: #DC052D;
}
p
{
    margin: 10px 0;
}